header{
    text-align: center;
}

main{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 40vw;

}


.available,
.selected{
    height:300px;
    width:200px;
    overflow: scroll;
    border:1px solid black;
    display: flex;
    flex-direction: column;  
}

.title{
    height: 50px;
    width: 100%;
    text-align: center;
}

.avaiable-list div:nth-child(odd) {
    background: rgb(221, 239, 221);
}
.selected-list div:nth-child(odd) {
    background: rgb(221, 239, 221);
}

.course-item{
    height: 80px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;

}

footer{
    text-align: center;
}